@charset "UTF-8";  

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

html
{
    font-size: 62.5%;
}
p {
    font-size: 1.2rem;
    margin:10px 0 15px 0;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited { 
    text-decoration: none;
    color: black;
}

@media (min-width: 641px){
header, main, footer {
    width: 950px;
    margin: 0 auto;
}
}


.nine{
    width:100%;
}

header #header_in {
  padding-top: 30px;
  padding-bottom: 4px
}

img {
    border: 0;
}

.logo{
    float: left;
    margin: 0;
    padding: 0;
}

.pc_navi{
    width: 950px;
    padding-top: 15px;
    padding-bottom: 4px
}

.pc_navi_li {
  float:right;
}
  
li {
    display:inline-block;
    padding-right: 10px;
}

.navi{
    width: 100%;
}

.u-max-full-width{
    width:100%;
}

  
@media (min-width: 641px) {
    .sp_navi,.sp{
      display: none;
    }
  }


body
{
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: .1em;
    background-color: #f9f8f6;
}

.clearfix{
  display: flex;
  flex-direction: row;
}

@media(min-width: 641px){
#contents {
    width: 700px;
}
}

#cover_area {
  text-align: center;
  padding:10px 0;
  background-size: cover
}


.container {
  display: flex;
}

.title{
    margin:20px auto;
}

.items
{
   display:flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}

.items p{
    font-size: 1.15rem;
}

.items small{
    font-size: 1.15rem;
}

@media (min-width: 641px) {
.items-box{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    margin: 1px 1px;
    padding: 13px 13px 20px 13px;
    background-color: #ffffff;
    width: 30.6666666667%
}
}


.item-pic{
    display:block;
    text-align: center;
}

.nine{
   display:flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}

#guide{
  display: flex;
  flex-direction: row;
  width:700px;
}
#guide img{
    margin-bottom: 5px;
}
#guide h2{
    font-size: 15px;
}

.delivery{
    margin: 0 1px;
    padding: 13px;
    background-color: #ffffff;
    flex:1;
    max-width: 50%;
}

.pay{
    margin: 0 1px;
    padding: 13px;
    background-color: #ffffff;
    max-width: 50%;
}

h2{
    font-size:1.5rem;
    font-weight:bold;
    margin-bottom:10px;
    color:#887f69;
}

h3{
    font-weight:bold;
    margin-bottom:7px;
    color:#887f69;
}

@media(min-width:641px){
#side {
    margin: 0 0 0 20px;
    max-width: 25%;
}
}


#form01{
    background-color: #eee;
    padding:5px 0;
    height: 20px;
    margin-top:5px;
}

#form01 input{
    vertical-align: top;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
}
#input01{
    border: none;
    width: 145px;
    padding-left: 10px;
    font-style: oblique;
}
#submit01{
    width: 30px;
    border: none;
    background-image: url(../images/top/search_icon.png);
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

.navi_brown{
    background-color: #887f69;
    padding: 15px;
}

.search{
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin:10px auto;
}
.pagelink{
    margin-bottom: 10px;
}

.categories_box ul{
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   list-style:none;
}

.categories_box li{
   margin-bottom: 1px;
   padding: 15px 20px;
   background-image:url(../images/top/next_icon_gray.png) ;
   background-repeat:no-repeat;
   background-position:93% center;
   list-style:none;
   background-color:#ffffff;
}

#home{
    background-color:#e2ddd4;
    height:20px;
    padding:10px;
    margin-top:10px;
    -moz-border-radius:2px; 
    -webkit-border-radius:2px; 
    border-radius:2px;
}


#home img{
    display: inline-block;
    vertical-align: middle;
}

#home h4{
    margin-left:5px;
    display: inline-block;
    vertical-align: middle;
    color:#887f69;
    font-size:1.2rem;
}

.cate_image{
    margin:10px auto;
    width:100%;
}

#items_details{
    background-color:#ffffff;
    margin-top:10px;
    padding:40px 60px 60px 60px;
}

.code{
    margin-bottom:25px;
}

.name{
    float:left;
    color:black;
    font-weight:bold;
    font-size:14px;
}

.number{
    float:right;
    color:#b0b0b0;
    font-size:10px;
}
.productsl img{
    width:410px;
    margin:4px 4px 4px 0;
}

.products{
   display:flex;
   flex-wrap: wrap;
}

.products img{
    width: 75px;
    height: 75px;
    margin:4px;
}

.items_photo{
    display:flex;
    padding:15px 0;
    border-top: solid;
    border-bottom: solid;
    border-bottom-width: thin;
    border-top-width: thin;
    border-color:#e2ddd4;
    margin-top:50px;
    text-align: center;
}

.products img{
    cursor: pointer;
}

table {
  border-collapse: collapse;
  width:100%;
  margin-bottom: 20px;
}
table th, table td {
  border: solid 1px;
  border-color:#e2ddd4;
  font-size:1.2rem;
  color:#887f69
}
table th {/*table内のthに対して*/
  padding: 10px 45px;
  background:#f9f8f6;
  width: 100px;
}

table td {/*table内のtdに対して*/
  padding: 2px 10px;/*上下2pxで左右10px*/
}

input[type=checkbox] {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #e2ddd4;
    overflow: hidden;
    -webkit-appearance: none;
    font: normal normal normal 14px/1 FontAwesome;
    outline: 0;
    background: 0 0;
}
.checkbox{
    text-align: center; 
}

.border_top{
    border-top: solid 1px;
    border-color:#e2ddd4;
    padding: 15px 0;
}

h4{
    display: inline-block;
}

.line{
    padding-top: 20px;
    border-top: solid 1px;
    border-color:black;
}
#info_cart{
    display: flex;
    flex-wrap:wrap;
    border-bottom: solid 1px;
    border-color:#e2ddd4;
    margin-bottom:30px;
}

#color_size{
    width:100%;
}

#price_quantity{
    width: 57%;
}
#price_quantity img{
    margin-right:30px;
}
#price p{
    font-style: oblique;
    margin: 0;
}
h6{
    display:inline;
    font-style: oblique;
    margin-left:22px;
}
.red{
    color:#e80f66;
}

.big{
    font-size:20px;
}

.input02{
    height:25px;
    border: solid 1px;
    border-color: #e2ddd4;
}

#add_to_cart{
    padding-left:24px;
}

#price img{
    display: inline-block;
}

#price p{
    display: inline-block;
}


@media(min-width: 641px){
.center{
    display:block;
    margin:0 auto;
}

.navi_box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 1;
    flex: 1;
    padding: 13px;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
}
}


.next{
    float:right;
}

ul.next{
    display: block;
    text-align: right;
}


.text{
    font-size:13px;
    margin:20px 0;
}

.navi_brown_botton{
    background-color: #887f69;
    height:40px;
    width:130px;
    margin:10px 0;
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.back{
    float:left;
}
.next{
    float:right;
}

.white{
    color:#ffffff;
    font-weight:bold;
    margin:10px 0;
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

footer {
    text-align: center;
    clear: both;
}


@media(min-width: 641px){
.pagetop{
   float:right;
   padding:10px 0;
   margin-top:30px;
}
}

footer .others{
    clear:both;
    display:block;
    box-sizing: border-box;
    padding:30px 0 10px 0;
    border-top: solid 1px;
    border-color:#e2ddd4;
    margin-top:10px;
    font-size: 12px;
}

footer .copy {
    display:block;
    color: #b0b0b0;
    font-size: 9px;
}

@media (max-width: 640px) {
#menu {
  cursor: pointer;
}
.sp_menu_toggle {
  display: none;
}

   header, main, footer {
    margin: 0 auto;
}
    #header_in{
        text-align:center;
        margin:0 auto;
    }
    #cover_area, #new-items, #popular-items, #seen_items, #shopping-guide, #categories, #back_next, footer{
    width: 95%;
    margin: 0 auto;
    clear: both;
   }
   #home{
    width: 90%;
    margin: 0 auto;
   }
    #side {
    width:95%;
    margin: 0 auto;
  }
    #guide {
    flex-direction: column;
  }
  li {
    display:inline-block;
    padding: 0 2px 0 3px;
}
  .sp_navi_li{
      margin:5px auto;
  }
  .title {
    margin: 10px auto;
    text-align:center;
}
#cover_area {
    text-align: center;
    padding: 0;
    background-size: cover;
}
   .pagetop{
        text-align: center;
        margin:20px 0;
    }
    .row {
      width: 100%;
  }
  .logo {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  .clearfix {
    flex-direction: column;
  }
   .items-box{
            -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 1px 1px;
    padding: 13px 13px 20px 13px;
    background-color: #ffffff;
    width: calc(50% - 2px);
    }
  .item-pic {
      width: 100%;
  }
  #guide {
      width: 100%;
  }
  .delivery {
      max-width: 100%;
      margin-bottom: 5px;
  }
  .pay {
      max-width: 100%;
  }
  .pay img {
      width: 100%;
  }
  #submit01{
      float: right;
  }
  .pc_navi,.pc{
      display: none;
    }
  .navi_box{
    display: flex;
    flex-direction: row;
    padding: 13px;
    background-color: #ffffff;
    margin-bottom: 10px
  }
  .sp_img{
      min-width: 145px;
  }
  .sp_text p{
      margin:0 0 10px 10px;
      font-size: 14px;
  }
  .sp_text img{
      margin:0 0 10px 10px;
  }
  footer .copy{
      margin:0 0 100px 0;
  }
  footer .others{
      padding: 10px 0 10px 0;
      margin: 0 auto;
  }
  .items_photo{
      clear: both;
      flex-direction: column;
  }
  #items_details {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 10px;
}

.name, .number{
    clear:both;
    margin: 0;
}

.number{
    float:left;
}

.productsl{
        margin:0;
}
.productsl img{
    width:100%;
}
.products {
    display: flex;
    flex-wrap: wrap;
    margin: -3px;
}
.products img {
    width: calc(100% / 5 - 3px * 2);
    height: calc(100% / 5 - 3px * 2);
    margin: 3px;
}
#info_cart {
    display: flex;
    flex-direction:column;
    border-bottom:none;
}
table th {
    padding: 10px;
    background: #f9f8f6;
    width: 30%;
}
#price_quantity {
    width: 100%;
    border-bottom: solid 1px;
    border-color: #e2ddd4;
    margin-bottom: 15px;
}
#price_quantity img {
    margin-right: 80px;
}
#add_to_cart {
    margin: 0 auto;
}
table td {
    padding: 2px 10px;
    /* text-align: center; */
    vertical-align: middle;
}
.sp_menu_toggle{
    color:#ffffff;
    background-color:#ff6d77;
    text-align:left;
    padding:15px 20px;
}
.sp_menu_toggle li{
    display:flex;
    flex-direction:column;
    padding:10px;

}
.border{
    border-bottom:solid 0.5px;
    border-color:white;
}
}